@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include flex-boiler;
  margin: 0 0 0 $nav-width;
  height: 100vh;
  background-color: $soft-white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

// ** Navigaion Styling ** //
.side__nav {
  position: fixed;
  background: $dark-grey;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100vh;
  z-index: 10;

  .links__container {
    @include flex-boiler;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    Button {
      @include btn-style;
    }

    .links__container__top {
      @include flex-boiler;
      justify-content: space-around;
      flex-direction: column;
      margin: 8vh 0 0 0;
      height: 30vh;

      .links {
        text-decoration: none;
        margin: 1.5em;
      }
    }

    .links__container__bot {
      @include flex-boiler;
      margin: 0 0 5vh 0;

      .links {
        text-decoration: none;
        margin: 1.5em;
      }
    }
  }
}

// ** Wrapper Styling ** //

.outer__border {
  border: 2px solid $dark-grey;
  border-radius: 1em;
  max-width: 70vw;
  z-index: 99;

  .inputs__container {
    width: 85vw - $nav-width;
    height: 80vh;
    padding-right: 1.6em;
    overflow-y: scroll;

    .table__inputs {
      @include flex-boiler;
      flex-direction: column;
      width: 100%;
      margin-bottom: 3em;
      margin-top: 3em;

      table {
        max-width: 60vw;
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden;

        .heading {
          color: $default-white;
          padding: 1em;
        }

        .heading,
        .spc_sm,
        .table__no {
          text-align: center;
        }

        .tr__heading {
          background-color: rgb(12 74 110);
        }

        tr:nth-child(even) {
          background-color: rgb(226 232 240);
        }

        tr:nth-child(odd):not(:first-child) {
          background-color: rgb(241 245 249);
        }

        input {
          border: 1px solid $dark-grey;
        }

        td {
          text-align: left;
          padding: 0.5em;
        }

        input {
          width: 4vw;
          border-radius: 0.2em;
          text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        .last__input {
          padding-right: 1.5em;
        }

        .large__text__field {
          width: 15vw;
        }

        .small__text__field {
          width: 3vw;
        }

        .heading__KPI {
          @include flex-boiler;
          height: 10vh;
          width: 100%;
          overflow-y: scroll;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        }

        .heading__KPI::-webkit-scrollbar {
          display: none; /* Chrome, Safari and Opera */
        }
      }
    }

    .descriptions__container {
      @include flex-boiler;
      flex-direction: column;
      width: 100%;
      margin-bottom: 2em;

      .flex__container {
        @include flex-boiler;
        flex-direction: column;
        border: 2px solid $dark-grey;
        border-radius: 0.5em;
        min-width: 60vw;
        margin: 0 0 1em 0;

        h1 {
          font-weight: 600;
          margin: 1em;
          text-align: center;
          max-width: 40vw;
        }

        .row {
          .descriptions {
            @include flex-boiler;
            flex-direction: column;
            width: 100%;

            .table__fields {
              margin-bottom: 1em;
              padding-bottom: 0.9em;
              background-color: rgb(226 232 240);
              border-radius: 1em;

              table {
                width: 55vw;
                border-collapse: collapse;
                border-radius: 1em;
                overflow: hidden;

                th {
                  color: $default-white;
                  padding: 1em;
                }

                .tr__heading {
                  background-color: rgb(12 74 110);
                }

                input,
                textarea {
                  border: 1px solid $dark-grey;
                }

                td {
                  text-align: center;
                  padding: 1em 0 0 0;
                }

                input {
                  width: 2vw;
                  border-radius: 0.2em;
                  text-align: center;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }

                textarea {
                  border-radius: 0.2em;
                }

                .large__text__field {
                  width: 13vw;
                }

                .small__text__field {
                  width: 4vw;
                }

                #RL__field {
                  margin-right: 1em;
                }
              }
            }
          }

          .plus__btn__container {
            @include flex-boiler;
            margin: 0 0 1em 0;
            width: 100%;
            button {
              margin: 0 0.5em;
              border: 2px solid;
            }
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 1em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 1em;
  }

  .credentials {
    @include flex-boiler;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;

    .section__border__credential {
      @include flex-boiler;
      flex-direction: column;
      width: 50%;
      border: 2px solid $dark-grey;
      border-radius: 1em;
      padding: 2em;

      .set__user {
        input {
          width: 8vw;
        }
      }

      .setter {
        @include flex-boiler;
        input {
          border: 2px solid $dark-grey;
          border-radius: 0.25em;
          background: $default-white;
          margin: 1em;
        }
      }

      .btn__container {
        @include flex-boiler;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 0.5em;

        Button {
          @include btn-style;
        }
      }
    }
  }

  .select__data__section {
    @include flex-boiler;
    width: 85vw - $nav-width;
    height: 80vh;

    .input__container {
      @include flex-boiler;
      flex-direction: column;
      justify-content: space-evenly;
      width: 40%;
      height: 30%;

      Button {
        @include btn-style;
      }

      .dropdown__container {
        @include flex-boiler;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 100%;
        height: 30%;

        label {
          display: block;
        }

        select,
        input {
          border: 2px solid $dark-grey;
          border-radius: 0.25em;
          background: $default-white;
          margin: 1em 0;
        }

        select {
          width: 8vw;
        }

        option:not(:checked) {
          background-color: $soft-white;
        }
      }
    }
  }

  .view__section {
    width: 85vw - $nav-width;
    height: 80vh;
    padding-right: 1.6em;
    overflow-y: scroll;
  }

  .view__section::-webkit-scrollbar {
    width: 10px;
  }

  .view__section::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 1em;
  }

  .view__section::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 1em;
  }

  .chart__wrapper {
    @include flex-boiler;
    min-height: 80vh;
    min-width: 65vw;

    .chart__container {
      border: 2px solid $dark-grey;
      border-radius: 1em;
      width: 50vw;

      h1 {
        margin: 2em;
        font-weight: 300;
      }

      canvas {
        margin: 2em;
      }
    }
  }
}

// ** Upload Page Styling ** //

.element-hidden {
  @include element-hidden;
}
