// colours
$dark-grey: #222222;
$soft-white: #f0ffff;
$soft-red: #dc143c;
$default-white: #ffffff;
$sky-900: #0c4a6e;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-500: #64748b;

// element-scales
$nav-width: 13vw;
