<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../dist/app.css" />
    <script defer src="../../dist/uploadController.bundle.js"></script>
    <title>Report App</title>
  </head>
  <body>
    <nav class="side__nav">
      <div class="links__container">
        <div class="links__container__top">
          <div class="logged__user">
            <h1>Hello,</h1>
            <h1 class="username second"></h1>
          </div>
          <a href="/upload">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
              Input Data
            </button>
          </a>
          <a href="/view">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
              View Data
            </button>
          </a>
        </div>
        <div class="links__container__bot">
          <a href="/logout">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
              Exit
            </button>
          </a>
        </div>
      </div>
    </nav>
    <main>
      <div class="date__identifier element-hidden">
        <div class="date__id">
          <h1>Input Report On</h1>
          <h1 class="added__at second"></h1>
        </div>
      </div>

      <div class="outer__border">
        <form name="dataset" id="form" class="form__wrapper">
          <div class="inputs__container flex-set">
            <div class="credentials__container">
              <div class="credentials__wrapper">
                <div class="page__identifier"><h1>upload report</h1></div>
                <div class="credentials">
                  <div class="section__border__credential">
                    <div class="setter set__period">
                      <label for="period">Period :</label>
                      <input type="month" name="period" id="period" required />
                    </div>

                    <button
                      id="next__btn"
                      type="button"
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="data__input element-hidden">
              <div class="table__inputs">
                <div class="table__container">
                  <div class="table__wrapper">
                    <table>
                      <tr class="tr__heading">
                        <th class="heading">No.</th>
                        <th class="heading">KPI</th>
                        <th class="heading">SM</th>
                        <th class="heading">BO1</th>
                        <th class="heading">BO2</th>
                        <th class="heading">BO3</th>
                        <th class="heading">BO4</th>
                        <th class="heading">BO5</th>
                        <th class="heading last__heading">BO6</th>
                      </tr>
                    </table>
                  </div>

                  <div class="dynamicBtn dynamic__table__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="descriptions__container"></div>
              <div class="btn__container">
                <button
                  id="submit__btn"
                  type="button"
                  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
