<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/app.css" />
    <script defer src="../../dist/uploadController.bundle.js"></script>
    <title>Report App</title>
  </head>
  <body>
    <nav class="side__nav">
      <div class="links__container">
        <div class="links__container__top">
          <a href="/upload">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
              Input Data
            </button>
          </a>
          <a href="/view">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
              View Data
            </button>
          </a>
        </div>
        <div class="links__container__bot">
          <a href="#">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
              Exit
            </button>
          </a>
        </div>
      </div>
    </nav>
    <main>
      <button class="populateData" type="button">test</button>
      <div class="outer__border">
        <form
          name="dataset"
          id="form"
          class="form__wrapper"
          action="/upload"
          method="POST"
        >
          <div class="inputs__container">
            <div class="table__inputs">
              <table>
                <tr class="tr__heading">
                  <th class="heading">No.</th>
                  <th class="heading">KPI</th>
                  <th class="heading">SM</th>
                  <th class="heading">BO1</th>
                  <th class="heading">BO2</th>
                  <th class="heading">BO3</th>
                  <th class="heading">BO4</th>
                  <th class="heading">BO5</th>
                  <th class="heading last__heading">BO6</th>
                </tr>
                <tr class="row__1">
                  <td class="table__no">1</td>
                  <td>
                    <div class="heading__KPI">
                      Menyelesaikan Prototype dan dokumen GPDP serta 3x produksi
                      konsisten (Tepat Time To Market)
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__1__input"
                      type="number"
                      id="row__1__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__1__input"
                      type="number"
                      id="row__1__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__1__input"
                      type="number"
                      id="row__1__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__1__input"
                      type="number"
                      id="row__1__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__1__input"
                      type="number"
                      id="row__1__input__5"
                      required
                    />
                  </td>
                  <td class="last__input">
                    <input
                      name="row__1__input"
                      type="number"
                      id="row__1__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__2">
                  <td class="table__no">2</td>
                  <td>
                    <div class="heading__KPI">
                      Mencapai target zero complain desain produk vs URS sampai
                      1 tahun
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__2__input"
                      type="number"
                      id="row__2__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__2__input"
                      type="number"
                      id="row__2__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__2__input"
                      type="number"
                      id="row__2__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__2__input"
                      type="number"
                      id="row__2__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__2__input"
                      type="number"
                      id="row__2__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__2__input"
                      type="number"
                      id="row__2__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__3">
                  <td class="table__no">3</td>
                  <td>
                    <div class="heading__KPI">
                      Mencapai Jumlah kelulusan training prosedur pembuatan, QC
                      material dan produk, manual book alat (NM assembly,
                      instalasi & QC, ETC, FMS staff terkait)
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__3__input"
                      type="number"
                      id="row__3__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__3__input"
                      type="number"
                      id="row__3__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__3__input"
                      type="number"
                      id="row__3__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__3__input"
                      type="number"
                      id="row__3__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__3__input"
                      type="number"
                      id="row__3__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__3__input"
                      type="number"
                      id="row__3__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__4">
                  <td class="table__no">4</td>
                  <td>
                    <div class="heading__KPI">
                      Ketersediaan tools data collection performa produk sesuai
                      target
                    </div>
                  </td>
                  <td class="spc_sm">3/tahun</td>
                  <td>
                    <input
                      name="row__4__input"
                      type="number"
                      id="row__4__input__1__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__4__input"
                      type="number"
                      id="row__4__input__2__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__4__input"
                      type="number"
                      id="row__4__input__3__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__4__input"
                      type="number"
                      id="row__4__input__4__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__4__input"
                      type="number"
                      id="row__4__input__5__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__4__input"
                      type="number"
                      id="row__4__input__6__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__5">
                  <td class="table__no">5</td>
                  <td>
                    <div class="heading__KPI">
                      Mencapai target improvement product
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__5__input"
                      type="number"
                      id="row__5__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__5__input"
                      type="number"
                      id="row__5__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__5__input"
                      type="number"
                      id="row__5__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__5__input"
                      type="number"
                      id="row__5__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__5__input"
                      type="number"
                      id="row__5__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__5__input"
                      type="number"
                      id="row__5__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__6">
                  <td class="table__no">6</td>
                  <td>
                    <div class="heading__KPI">
                      Closing STCS (major) max 1 th & closing project
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__6__input"
                      type="number"
                      id="row__6__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__6__input"
                      type="number"
                      id="row__6__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__6__input"
                      type="number"
                      id="row__6__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__6__input"
                      type="number"
                      id="row__6__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__6__input"
                      type="number"
                      id="row__6__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__6__input"
                      type="number"
                      id="row__6__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__7">
                  <td class="table__no">7</td>
                  <td>
                    <div class="heading__KPI">
                      Memastikan proses kerja sesuai standar ISO (Menekan temuan
                      audit status NC & PNC)
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__7__input"
                      type="number"
                      id="row__7__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__7__input"
                      type="number"
                      id="row__7__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__7__input"
                      type="number"
                      id="row__7__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__7__input"
                      type="number"
                      id="row__7__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__7__input"
                      type="number"
                      id="row__7__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__7__input"
                      type="number"
                      id="row__7__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__8">
                  <td class="table__no">8</td>
                  <td>
                    <div class="heading__KPI">
                      Memenuhi gap kompetensi sesuai target
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__8__input"
                      type="number"
                      id="row__8__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__8__input"
                      type="number"
                      id="row__8__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__8__input"
                      type="number"
                      id="row__8__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__8__input"
                      type="number"
                      id="row__8__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__8__input"
                      type="number"
                      id="row__8__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__8__input"
                      type="number"
                      id="row__8__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__9">
                  <td class="table__no">9</td>
                  <td>
                    <div class="heading__KPI">
                      Mencapai kebersihan bangunan 100% dan 6S (5S & safety)
                    </div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__9__input"
                      type="number"
                      id="row__9__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__9__input"
                      type="number"
                      id="row__9__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__9__input"
                      type="number"
                      id="row__9__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__9__input"
                      type="number"
                      id="row__9__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__9__input"
                      type="number"
                      id="row__9__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__9__input"
                      type="number"
                      id="row__9__input__6"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__10">
                  <td class="table__no">10</td>
                  <td>
                    <div class="heading__KPI">
                      Mengikuti KS (3 Per semester)
                    </div>
                  </td>
                  <td class="spc_sm">3/tahun</td>
                  <td>
                    <input
                      name="row__10__input"
                      type="number"
                      id="row__10__input__1__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__10__input"
                      type="number"
                      id="row__10__input__2__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__10__input"
                      type="number"
                      id="row__10__input__3__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__10__input"
                      type="number"
                      id="row__10__input__4__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__10__input"
                      type="number"
                      id="row__10__input__5__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__10__input"
                      type="number"
                      id="row__10__input__6__spc"
                      class="special__input"
                      min="0"
                      max="1"
                      required
                    />
                  </td>
                </tr>
                <tr class="row__11">
                  <td class="table__no">11</td>
                  <td>
                    <div class="heading__KPI">CMM</div>
                  </td>
                  <td>100.00%</td>
                  <td>
                    <input
                      name="row__11__input"
                      type="number"
                      id="row__11__input__1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__11__input"
                      type="number"
                      id="row__11__input__2"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__11__input"
                      type="number"
                      id="row__11__input__3"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__11__input"
                      type="number"
                      id="row__11__input__4"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__11__input"
                      type="number"
                      id="row__11__input__5"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="row__11__input"
                      type="number"
                      id="row__11__input__6"
                      required
                    />
                  </td>
                </tr>
              </table>
            </div>

            <div class="descriptions__container">
              <div class="flex__container">
                <h1 class="heading__KPI">
                  Menyelesaikan Prototype dan dokumen GPDP serta 3x produksi
                  konsisten (Tepat Time To Market)
                </h1>
                <div class="row" data-id="1">
                  <div class="desc__1"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Mencapai target zero complain desain produk vs URS sampai 1
                  tahun
                </h1>
                <div class="row" data-id="2">
                  <div class="desc__2"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Mencapai Jumlah kelulusan training prosedur pembuatan, QC
                  material dan produk, manual book alat (NM assembly, instalasi
                  & QC, ETC, FMS staff terkait)
                </h1>
                <div class="row" data-id="3">
                  <div class="desc__3"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Ketersediaan tools data collection performa produk sesuai
                  target
                </h1>
                <div class="row" data-id="4">
                  <div class="desc__4"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Mencapai target improvement product
                </h1>
                <div class="row" data-id="5">
                  <div class="desc__5"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Closing STCS (major) max 1 th & closing project
                </h1>
                <div class="row" data-id="6">
                  <div class="desc__6"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Memastikan proses kerja sesuai standar ISO (Menekan temuan
                  audit status NC & PNC)
                </h1>
                <div class="row" data-id="7">
                  <div class="desc__7"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Memenuhi gap kompetensi sesuai target
                </h1>
                <div class="row" data-id="8">
                  <div class="desc__8"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">
                  Mencapai kebersihan bangunan 100% dan 6S (5S & safety)
                </h1>
                <div class="row" data-id="9">
                  <div class="desc__9"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">Mengikuti KS (3 Per semester)</h1>
                <div class="row" data-id="10">
                  <div class="desc__10"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex__container">
                <h1 class="heading__KPI">CMM</h1>
                <div class="row" data-id="11">
                  <div class="desc__11"></div>
                  <div class="plus__btn__container">
                    <button
                      class="delete__field element-hidden bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      -
                    </button>
                    <button
                      class="add__field bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="credentials">
              <div class="section__border__credential">
                <div class="setter set__user">
                  <label for="user">User :</label>
                  <input type="text" name="user" id="user" required />
                </div>

                <div class="setter set__period">
                  <label for="period">Period :</label>
                  <input type="month" name="period" id="period" required />
                </div>

                <div class="btn__container">
                  <button
                    id="validate__btn"
                    type="button"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
                  >
                    Validate
                  </button>

                  <button
                    id="submit__btn"
                    type="submit"
                    class="bg-green-500 text-white font-bold py-2 px-4 border border-blue-700 rounded"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
