<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/app.css" />
    <script defer src="../../dist/viewController.bundle.js"></script>
    <title>Report-App</title>
  </head>
  <body>
    <nav class="side__nav">
      <div class="links__container">
        <div class="links__container__top">
          <a href="/upload">
            <button
              class="
                bg-blue-500
                hover:bg-blue-700
                text-white
                font-bold
                py-2
                px-4
                border border-blue-700
                rounded
              "
            >
              Input Data
            </button>
          </a>
          <a href="/view">
            <button
              class="
                bg-blue-500
                hover:bg-blue-700
                text-white
                font-bold
                py-2
                px-4
                border border-blue-700
                rounded
              "
            >
              View Data
            </button>
          </a>
        </div>
        <div class="links__container__bot">
          <a href="#">
            <button
              class="
                bg-blue-500
                hover:bg-blue-700
                text-white
                font-bold
                py-2
                px-4
                border border-blue-700
                rounded
              "
            >
              Exit
            </button>
          </a>
        </div>
      </div>
    </nav>
    <main>
      <div class="outer__border">
        <div class="select__data__wrapper">
          <div class="select__data__section">
            <div class="input__container">
              <div class="dropdown__container">
                <div class="dropdown">
                  <label for="user">Name :</label>
                  <select id="user" name="user">
                    <option>-</option>
                    <!-- <option value="rafly">rafly</option>
                    <option value="ananda">ananda</option> -->
                  </select>
                </div>

                <div class="dropdown">
                  <label for="period">Period :</label>
                  <input type="month" name="period" id="period" />
                </div>
              </div>

              <button
                type="button"
                class="
                  find__data__btn
                  bg-blue-500
                  hover:bg-blue-700
                  text-white
                  font-bold
                  py-2
                  px-4
                  border border-blue-700
                  rounded
                "
              >
                Find
              </button>
            </div>
          </div>
        </div>
        <div class="view__section element-hidden">
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart1"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart2"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart3"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart4"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart5"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart6"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart7"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart8"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart9"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart10"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
          <div class="chart__wrapper">
            <div class="chart__container">
              <canvas id="myChart11"></canvas>
              <center><h1 class="PCP__1"></h1></center>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
