@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 13vw;
  height: 100vh;
  background-color: #f0ffff;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.page__wrapper,
.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page__wrapper .hero__img,
.login__container .hero__img {
  margin: 0 0 1em 0;
  max-width: 20vw;
}
.page__wrapper .login__container .login__input,
.login__container .login__container .login__input {
  text-align: center;
  border-radius: 1em;
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
}
.page__wrapper .login__container .login__btn,
.login__container .login__container .login__btn {
  margin: 1em;
  width: 10em;
  font-size: 15px;
  font-weight: 400;
}

.side__nav {
  position: fixed;
  background: #222222;
  top: 0;
  left: 0;
  width: 13vw;
  height: 100vh;
  z-index: 10;
}
.side__nav .links__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.side__nav .links__container Button {
  width: 8vw;
  border-radius: 0.75em;
  font-size: medium;
  font-weight: 400;
}
.side__nav .links__container .links__container__top {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  height: 30vh;
}
.side__nav .links__container .links__container__top .logged__user {
  border: 1px solid #f0ffff;
  border-radius: 0.5em;
  max-width: 10vw;
  padding: 1em;
  word-wrap: break-word;
}
.side__nav .links__container .links__container__top .logged__user h1 {
  color: #f0ffff;
  font-size: 1.2rem;
  font-weight: 500;
}
.side__nav .links__container .links__container__top .logged__user h1.second {
  margin-top: 0.5em;
}
.side__nav .links__container .links__container__bot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 5vh 0;
}
.side__nav .links__container .links__container__bot .links {
  text-decoration: none;
  margin: 1.5em;
}

.outer__border {
  border: 1px solid #222222;
  border-radius: 0.5em;
  max-width: 70vw;
  z-index: 99;
}
.outer__border .inputs__container {
  width: 72vw;
  height: 80vh;
  padding-right: 1.6em;
  overflow-y: scroll;
}
.outer__border .inputs__container .credentials__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.outer__border .inputs__container .credentials__container .page__identifier {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-top: 20vh;
  border: 1px solid #222222;
  width: 30vw;
  height: 5vw;
  padding: 1em;
  border: 1px solid #222222;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.outer__border .inputs__container .credentials__container .page__identifier h1 {
  font-size: 2rem;
  font-weight: 400;
}
.outer__border .inputs__container .credentials__container .credentials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border-radius: 1em;
  padding: 2em;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential .set__user input {
  width: 8vw;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential .setter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential .setter input {
  border: 2px solid #222222;
  border-radius: 0.25em;
  background: #ffffff;
  margin: 1em;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential .btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  justify-content: space-evenly;
  margin-top: 0.5em;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential .btn__container Button {
  width: 8vw;
  border-radius: 0.75em;
  font-size: medium;
  font-weight: 400;
}
.outer__border .inputs__container .credentials__container .credentials .section__border__credential .btn__container Button:disabled {
  opacity: 50%;
  cursor: not-allowed;
  background-color: #222222;
}
.outer__border .inputs__container .date__id {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  width: 40vw;
  height: 10vh;
  margin: 2em auto 2em auto;
  padding: 1em;
  border: 1px solid #222222;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.outer__border .inputs__container .date__id h1 {
  display: inline;
  font-weight: 400;
  font-size: 1.25rem;
}
.outer__border .inputs__container .date__id h1.second {
  font-weight: 500;
  margin-left: 0.35em;
  text-decoration: underline;
}
.outer__border .inputs__container .table__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3em;
  margin-top: 3em;
}
.outer__border .inputs__container .table__inputs table {
  max-width: 60vw;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}
.outer__border .inputs__container .table__inputs table .heading {
  color: #ffffff;
  padding: 1em;
}
.outer__border .inputs__container .table__inputs table .heading,
.outer__border .inputs__container .table__inputs table .spc_sm,
.outer__border .inputs__container .table__inputs table .table__no {
  text-align: center;
}
.outer__border .inputs__container .table__inputs table .tr__heading {
  background-color: #0c4a6e;
}
.outer__border .inputs__container .table__inputs table tr:nth-child(even) {
  background-color: #e2e8f0;
}
.outer__border .inputs__container .table__inputs table tr:nth-child(odd):not(:first-child) {
  background-color: #f1f5f9;
}
.outer__border .inputs__container .table__inputs table input {
  border: 1px solid #222222;
}
.outer__border .inputs__container .table__inputs table td {
  text-align: left;
  padding: 0.5em;
}
.outer__border .inputs__container .table__inputs table input {
  width: 4vw;
  border-radius: 0.2em;
  text-align: center;
}
.outer__border .inputs__container .table__inputs table input::-webkit-outer-spin-button,
.outer__border .inputs__container .table__inputs table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.outer__border .inputs__container .table__inputs table .last__input {
  padding-right: 1.5em;
}
.outer__border .inputs__container .table__inputs table .last__heading {
  padding-right: 2vw;
}
.outer__border .inputs__container .table__inputs table .heading__KPI {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.outer__border .inputs__container .table__inputs table .heading__KPI::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}
.outer__border .inputs__container .descriptions__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;
}
.outer__border .inputs__container .descriptions__container .flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #222222;
  border-radius: 0.5em;
  min-width: 60vw;
  margin: 0 0 1em 0;
}
.outer__border .inputs__container .descriptions__container .flex__container button {
  border: 1px solid red;
}
.outer__border .inputs__container .descriptions__container .flex__container h1 {
  font-weight: 600;
  margin: 1em;
  text-align: center;
  max-width: 40vw;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields {
  margin-bottom: 1em;
  padding-bottom: 0.9em;
  background-color: #e2e8f0;
  border-radius: 1em;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table {
  width: 55vw;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table th {
  color: #ffffff;
  padding: 1em;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table .tr__heading {
  background-color: #0c4a6e;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table input,
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table textarea {
  border: 1px solid #222222;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table td {
  text-align: center;
  padding: 1em 0 0 0;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table input {
  width: 2vw;
  border-radius: 0.2em;
  text-align: center;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table input::-webkit-outer-spin-button,
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table textarea {
  border-radius: 0.2em;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table .large__text__field {
  width: 13vw;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table .small__text__field {
  width: 4vw;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .descriptions .table__fields table #RL__field {
  margin-right: 1em;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .plus__btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
  width: 100%;
}
.outer__border .inputs__container .descriptions__container .flex__container .row .plus__btn__container button {
  margin: 0 0.5em;
  border: 2px solid;
}
.outer__border .inputs__container .btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}
.outer__border ::-webkit-scrollbar {
  width: 4px;
}
.outer__border ::-webkit-scrollbar-track {
  background-color: #cbd5e1;
  border-radius: 1em;
}
.outer__border ::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 1em;
}
.outer__border .select__data__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 72vw;
  height: 80vh;
}
.outer__border .select__data__section .page__identifier {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-top: 20vh;
  border: 1px solid #222222;
  width: 30vw;
  height: 5vw;
  padding: 1em;
  border: 1px solid #222222;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.outer__border .select__data__section .page__identifier h1 {
  font-size: 2rem;
  font-weight: 400;
}
.outer__border .select__data__section .input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 30%;
}
.outer__border .select__data__section .input__container Button {
  width: 8vw;
  border-radius: 0.75em;
  font-size: medium;
  font-weight: 400;
}
.outer__border .select__data__section .input__container .dropdown__container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  height: 30%;
}
.outer__border .select__data__section .input__container .dropdown__container label {
  display: block;
}
.outer__border .select__data__section .input__container .dropdown__container select,
.outer__border .select__data__section .input__container .dropdown__container input {
  border: 2px solid #222222;
  border-radius: 0.25em;
  background: #ffffff;
  margin: 1em 0;
}
.outer__border .select__data__section .input__container .dropdown__container select {
  width: 8vw;
}
.outer__border .select__data__section .input__container .dropdown__container option:not(:checked) {
  background-color: #f0ffff;
}
.outer__border .view__section {
  width: 72vw;
  height: 80vh;
  padding-right: 1.6em;
  overflow-y: scroll;
  padding-bottom: 4em;
}
.outer__border .view__section .date__id {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  width: 40vw;
  height: 10vh;
  margin: 2em auto 2em auto;
  padding: 1em;
  border: 1px solid #222222;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.outer__border .view__section .date__id h1 {
  display: inline;
  font-weight: 400;
  font-size: 1.25rem;
}
.outer__border .view__section .date__id h1.second {
  font-weight: 500;
  margin-left: 0.35em;
  text-decoration: underline;
}
.outer__border .view__section .export__btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer__border .view__section .export__btn__container .export__btn {
  text-align: center;
}
.outer__border .view__section .data__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 65vw;
}
.outer__border .view__section .data__container .data__wrapper__table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
  width: 90%;
  min-height: 100%;
  border: 1px solid #222222;
  border-radius: 1em;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 1em;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table {
  width: 60vw;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .heading {
  color: #ffffff;
  padding: 1em;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .heading,
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .spc_sm,
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .table__no {
  text-align: center;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .tr__heading {
  background-color: #0c4a6e;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table tr:nth-child(even) {
  background-color: #e2e8f0;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table tr:nth-child(odd):not(:first-child) {
  background-color: #f1f5f9;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table td {
  text-align: left;
  padding: 0.5em;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table input::-webkit-outer-spin-button,
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .last__heading {
  padding-right: 1vw;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .SM__ele {
  padding-right: 1.85vw;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .BO {
  padding-left: 1vw;
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .heading__KPI {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.outer__border .view__section .data__container .data__wrapper__table .table__inputs table .heading__KPI::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}
.outer__border .view__section .data__container .data__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4em;
  width: 90%;
  min-height: 100%;
  border: 1px solid #222222;
  border-radius: 1em;
}
.outer__border .view__section .data__container .data__wrapper .section__heading {
  margin: 3em 3em 0 3em;
  font-weight: 600;
  text-decoration: underline;
}
.outer__border .view__section .data__container .data__wrapper .chart__container {
  width: 50vw;
}
.outer__border .view__section .data__container .data__wrapper .chart__container .PCP__1,
.outer__border .view__section .data__container .data__wrapper .chart__container .PCP__1__NP {
  margin: 2em;
  font-weight: 600;
  text-decoration: underline;
}
.outer__border .view__section .data__container .data__wrapper .chart__container canvas {
  margin: 2em;
}
.outer__border .view__section .data__container .data__wrapper .descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3em;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table {
  background-color: #e2e8f0;
  width: 60vw;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table td {
  border-right: 1.5px solid #f0ffff;
  border-left: 1.5px solid #f0ffff;
  padding: 1em;
  text-align: center;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table th {
  color: #ffffff;
  padding: 1em;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table tr:nth-child(even) {
  background-color: #e2e8f0;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table tr:nth-child(odd):not(:first-child) {
  background-color: #f1f5f9;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table .tr__heading {
  background-color: #0c4a6e;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table .large__field {
  text-align: start;
  width: 30%;
  height: 100px;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table .no {
  text-align: center;
  width: 5%;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table .content__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer__border .view__section .data__container .data__wrapper .descriptions table .content__container .content {
  height: 10vh;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.outer__border .view__section .data__container .data__wrapper .descriptions table .content__container .content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}
.outer__border .view__section::-webkit-scrollbar {
  width: 4px;
}
.outer__border .view__section::-webkit-scrollbar-track {
  background-color: #cbd5e1;
  border-radius: 1em;
}
.outer__border .view__section::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 1em;
}

.element-hidden {
  display: none;
}

.flex-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=app.css.map */
