@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 13vw;
  height: 100vh;
  background-color: #f0ffff;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.side__nav {
  position: fixed;
  background: #222222;
  top: 0;
  left: 0;
  width: 13vw;
  height: 100vh;
  z-index: 10;
}
.side__nav .links__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.side__nav .links__container Button {
  width: 8vw;
  border-radius: 0.75em;
  font-size: medium;
  font-weight: 400;
}
.side__nav .links__container .links__container__top {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 8vh 0 0 0;
  height: 30vh;
}
.side__nav .links__container .links__container__top .links {
  text-decoration: none;
  margin: 1.5em;
}
.side__nav .links__container .links__container__bot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 5vh 0;
}
.side__nav .links__container .links__container__bot .links {
  text-decoration: none;
  margin: 1.5em;
}

.outer__border {
  border: 2px solid #222222;
  border-radius: 1em;
  max-width: 70vw;
  max-height: 80vh;
}
.outer__border .select__data__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72vw;
  height: 80vh;
}
.outer__border .select__data__section .input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 30%;
}
.outer__border .select__data__section .input__container Button {
  width: 8vw;
  border-radius: 0.75em;
  font-size: medium;
  font-weight: 400;
}
.outer__border .select__data__section .input__container .dropdown__container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  height: 30%;
}
.outer__border .select__data__section .input__container .dropdown__container label {
  display: block;
}
.outer__border .select__data__section .input__container .dropdown__container select,
.outer__border .select__data__section .input__container .dropdown__container input {
  border: 2px solid #222222;
  border-radius: 0.25em;
  background: #ffffff;
  margin: 1em 0;
}
.outer__border .select__data__section .input__container .dropdown__container select {
  width: 8vw;
}
.outer__border .select__data__section .input__container .dropdown__container option:not(:checked) {
  background-color: #f0ffff;
}
.outer__border .view__section {
  width: 72vw;
  height: 80vh;
  padding-right: 1.6em;
  overflow-y: scroll;
}
.outer__border .view__section::-webkit-scrollbar {
  width: 10px;
}
.outer__border .view__section::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 1em;
}
.outer__border .view__section::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 1em;
}
.outer__border .chart__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 65vw;
}
.outer__border .chart__wrapper .chart__container {
  border: 2px solid #222222;
  border-radius: 1em;
  width: 50vw;
}
.outer__border .chart__wrapper .chart__container h1 {
  margin: 2em;
  font-weight: 300;
}
.outer__border .chart__wrapper .chart__container canvas {
  margin: 2em;
}
.outer__border .btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
  width: 15vw;
  justify-content: space-evenly;
  position: fixed;
  top: 63vh;
  left: 76vw;
}
.outer__border .btn__container Button {
  width: 8vw;
  border-radius: 0.75em;
  font-size: medium;
  font-weight: 400;
}

.inputs__container {
  width: 72vw;
  height: 80vh;
  padding-right: 1.6em;
  overflow-y: hidden;
}

.inputs__container::-webkit-scrollbar {
  width: 10px;
}

.inputs__container::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 1em;
}

.inputs__container::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 1em;
}

.input__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.input__section input {
  padding-left: 0.5em;
}
.input__section .section__border__credential {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border: 2px solid #222222;
  border-radius: 1em;
  padding: 2em;
}
.input__section .section__border__credential .set__user input {
  width: 8vw;
}
.input__section .section__border__credential .setter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__section .section__border__credential .setter input {
  border: 2px solid #222222;
  border-radius: 0.25em;
  background: #ffffff;
  margin: 1em;
}
.input__section .section__border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border: 2px solid #222222;
  border-radius: 1em;
  padding-bottom: 2em;
}
.input__section .section__border .section__indicator {
  color: #dc143c;
  margin: 1em 0;
}
.input__section .section__border .text__heading {
  max-width: 50vw;
  font-weight: 600;
  text-align: center;
  margin: 0 2em 1em 2em;
}
.input__section .section__border .input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__section .section__border .input__wrapper input {
  width: 10vw;
  border: 2px solid #222222;
  margin: 1em;
}
.input__section .section__border .descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 0 0;
  width: 100%;
}
.input__section .section__border .descriptions table {
  max-width: 90%;
}
.input__section .section__border .descriptions table td,
.input__section .section__border .descriptions table th,
.input__section .section__border .descriptions table input,
.input__section .section__border .descriptions table textarea {
  border: 1px solid #222222;
}
.input__section .section__border .descriptions table td,
.input__section .section__border .descriptions table th {
  text-align: center;
  padding: 8px;
}
.input__section .section__border .descriptions table input {
  width: 2vw;
}
.input__section .section__border .descriptions table .large__text__field {
  width: 15vw;
}
.input__section .section__border .descriptions table .small__text__field {
  width: 3vw;
}

.element-hidden {
  display: none;
}

/*# sourceMappingURL=app.css.map */
